* {
    font-family: monospace;
    font-size: 1.2rem;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 0;
    background-color: #e5e5e5;
  }
  
  .form {
    text-align: center;
  }
  
  #sura {
    text-align: center;
    font-size: 1.5rem;
  }
  
  #repeat-count {
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
    user-select: none;
        background-color: buttonface;
      padding: 1px 6px;
      border-width: 2px;
      border-style: outset;
      border-color: buttonborder;
      margin: 0 auto 10px ;
      width: fit-content;
  }
  
  input:invalid {
      color: red;
  }